@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    <div class="container">
        <main role="main" class="pb-3">

        </main>
    </div>
    @RenderBody()


                    <div>
                    <div class="videoHolder mt-5 ml-5 mr-5" preload="auto">
                        <iframe id="vjs_video_2128_Youtube_api"
                                class="vjs-tech" frameborder="0" allowfullscreen="1"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                title="YouTube video player" width="640" height="360"
                                src="https://www.youtube.com/embed/@video.VideoId?controls=0&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;loop=0&amp;fs=0&amp;hl=en&amp;iv_load_policy=3&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwww.igdb.com&amp;widgetid=1"></iframe>
                    </div>
                </div>

*@