@section Styles{
    <link rel="stylesheet" href="~/css/GCAbout.css" />
}

@{
    ViewData["Title"] = "About";
}

<h1>About Us</h1>
<p>We're bachalor students at <a class="text-decoration-none" href="https://www.bellevuecollege.edu/" title="Bellevue College">Bellevue College</a>, what you're using is our final project for our ISIT 320: Advanced Web Development class.</p>

<h3>Meet The Team</h3>
<ul>
    <li><p>Andrew Lawson</p></li>
    <li><p>Sahara Maradiaga</p></li>
    <li><p>Devon Rice</p></li>
    <li><p>Travis Simmers</p></li>
    <li><p>Ganna Tarasiuk</p></li>
    <li><p>Brandon Thompson</p></li>
</ul>