
@model DashboardGameBundle

<h1 class="font-weight-bold text-center mt-5 popularGameText">Popular <span class="gameText">Games</span> </h1>

<div class="swiper-container popularGameSection">
    <div class="swiper-wrapper mb-3">
        @foreach (var game in Model.popularGames)
        {
            @if (game.cover == null)
            {
                <div class="swiper-slide">
                    <img src="~/images/big_unvailable-image.jpg" alt="unvailable game pic" srcset="">
                </div>
            }
            else
            {
                <div class="swiper-slide">
                    <a href="ShowGame/@game.gameId"><img src="//images.igdb.com/igdb/image/upload/t_cover_big/@game.cover.image_id@Html.Raw(".jpg")" alt="game picture" srcset="" class="screenshot rounded"></a>
                </div>
            }

        }

    </div>
    <div class="mt-5"></div>
    <!-- Add Pagination -->
    <div class="swiper-pagination d-block mt-4"></div>
</div>

<hr>
<div class="container">
    <ul class="list-inline">
        @if (Model.games == null)
        {
            <h4 class="font-weight-light mt-5 bg-danger text-white text-center py-3">No Games Found!!</h4>
        }
        else
        {
            @foreach (var game in Model.games)
            {
                <li class="font-weight-light mb-3 game">

                    @if (game.Cover == null)
                    {
                        <img src="~/images/small_unavailable-image.png" alt="game picture" srcset="" class="gamePic rounded">
                    }
                    else
                    {
                        <img src="//images.igdb.com/igdb/image/upload/t_cover_big/@game.Cover.Value.ImageId@Html.Raw(".jpg")" alt="game picture" srcset="" class="gamePic rounded">
                    }
                    <div class="d-inline-block ml-2 mt-2 gameDescription">

                        <a href="~/ShowGame/@game.Id"><h6 class="mb-0">@game.Name</h6></a>
                        <small class="mb-0 d-block releaseDate ml-1">@game.release_date.ToString("MMMM dd, yyyy")</small>
                        @if (game.Rating == 0)
                        {
                            <small class="text-muted d-block mt-3">Rating Unavailable</small>
                        }
                        else
                        {
                            <div class="stars-outer d-block mt-2">
                                <div class="stars-inner " style="width: @game.Rating.ToString()px;"></div>
                            </div>
                        }

                        @if (game.Platforms == null)
                        {
                            <small class="d-inline-block mb-0 text-muted">Platforms unavailable</small>
                        }
                        else
                        {
                            @foreach (var platform in game.Platforms.Values)
                            {
                                <small class="d-inline-block mb-0 text-muted">@platform.Name /</small>
                            }
                        }


                    </div>

                </li>
            }
        }
    </ul>

</div>


