@model IGDB.Models.Game

@{
    ViewData["Title"] = "Detail";
}

<h5>Game ID currently viewing: @Html.DisplayFor(modelItem => Model.Id)</h5>
<h5>Game Name currently viewing: @Html.DisplayFor(modelItem => Model.Name)</h5>

<h2>Detailed view for a specific game!</h2>

<p>Hello from our Detail Template!</p>