<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameClubProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GameClubProject</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="" data-target="#sidebar" data-toggle="collapse" class="d-block d-md-none text-dark"><i class="bi bi-layout-sidebar-inset"></i> Toggle Menu</a>
                </li>
            </ul>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-1 collapse show d-md-flex bg-light pt-2 pl-0 box-shadow border-right min-vh-100" id="sidebar" style="max-width:250px;">
                <ul class="nav flex-column flex-nowrap overflow-hidden">
                    <li class="nav-item">
                        <a class="nav-link text-truncate text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house-fill"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-truncate text-dark" asp-area="" asp-controller="" asp-action=""><i class="bi bi-person-circle"></i> Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed text-truncate text-dark" href="#search-submenu" data-toggle="collapse" data-target="#search-submenu"><i class="bi bi-search"></i> Search ▾</a>
                        <div class="collapse" id="search-submenu" aria-expanded="false">
                            <ul class="flex-column pl-2 nav">
                                <li class="nav-item"><a class="nav-link text-truncate text-dark" asp-area="" asp-controller="" asp-action=""><i class="bi bi-chevron-right"></i> By Genre</a></li>
                                <li class="nav-item"><a class="nav-link text-truncate text-dark" asp-area="" asp-controller="" asp-action=""><i class="bi bi-chevron-right"></i> By Company</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-truncate text-dark" asp-area="" asp-controller="GameQuery" asp-action="About"><i class="bi bi-info-circle"></i> About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-truncate text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="bi bi-info-circle"></i> Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-truncate text-dark" asp-area="" asp-controller="GameQuery" asp-action="Index">NewHomePage</a>
                    </li>
                </ul>
            </div>
            @*<div class="col-6 col-sm-8 col-md-8 col-lg-10 pt-2" id="content-area">*@
            <div class="col pt-2" id="content-area">
                <div class="container-fluid p-0">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - GameClubProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
